In [1]:
import pandas as pd
import glob

In [2]:
FRAC = 1/1000
OUTPUT_PATH = '../sample_bike_data2.csv'

In [3]:
csv_paths = glob.glob('*.csv') 
csv_paths

['202301-citibike-tripdata_1.csv',
 '202301-citibike-tripdata_2.csv',
 '202302-citibike-tripdata_1.csv',
 '202302-citibike-tripdata_2.csv',
 '202303-citibike-tripdata_1.csv',
 '202303-citibike-tripdata_2.csv',
 '202303-citibike-tripdata_3.csv',
 '202304-citibike-tripdata_1.csv',
 '202304-citibike-tripdata_2.csv',
 '202304-citibike-tripdata_3.csv',
 '202305-citibike-tripdata_1.csv',
 '202305-citibike-tripdata_2.csv',
 '202305-citibike-tripdata_3.csv',
 '202305-citibike-tripdata_4.csv',
 '202306-citibike-tripdata_1.csv',
 '202306-citibike-tripdata_2.csv',
 '202306-citibike-tripdata_3.csv',
 '202306-citibike-tripdata_4.csv']

In [4]:
df = pd.DataFrame()

In [5]:
for path in csv_paths:
    #     print(path)
    new_df = pd.read_csv(path, low_memory=False)
    df = pd.concat([df, new_df])

df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
560254,E6B04D2FD398493E,classic_bike,2023-06-22 18:06:15,2023-06-22 18:19:31,University Pl & E 8 St,5755.14,Bialystoker Pl & Delancey St,5335.03,40.731437,-73.994903,40.716226,-73.982612,member
560255,A9C0665FC912A63B,classic_bike,2023-06-12 09:16:47,2023-06-12 09:42:18,N 7 St & Driggs Ave,5340.01,31 St & Thomson Ave,6227.02,40.716967,-73.956388,40.744697,-73.935404,member
560256,C6B241D76A0137FD,classic_bike,2023-06-11 17:23:58,2023-06-11 18:02:36,12 Ave & W 125 St,7886.02,Central Park S & 6 Ave,6876.04,40.818299,-73.960405,40.765909,-73.976342,member
560257,B218070FEA49C6B3,classic_bike,2023-06-27 18:16:21,2023-06-27 18:33:12,W 34 St & 11 Ave,6578.01,11 Ave & W 59 St,7059.01,40.755942,-74.002116,40.771497,-73.990460,casual
560258,69FB0F587F4022B6,classic_bike,2023-06-02 14:25:05,2023-06-02 14:32:29,Sullivan St & Washington Sq,5721.01,8 Ave & W 16 St,6072.11,40.730477,-73.999061,40.740983,-74.001702,member

In [6]:
# 5845324-len(csv_paths)

5845306

In [7]:
sample_df = df.sample(frac=FRAC, random_state=42) 
sample_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
949794,F29C6EF665903714,classic_bike,2023-06-01 18:33:55,2023-06-01 18:48:17,Broadway & W 25 St,6173.08,Forsyth St & Grand St,5382.07,40.742869,-73.989186,40.717798,-73.993161,member
532933,E0588E5518AD8CFB,classic_bike,2023-05-08 12:06:59,2023-05-08 12:22:41,5 Ave & E 103 St,7511.19,W 67 St & Broadway,7116.04,40.792255,-73.952499,40.774925,-73.982666,member
733107,7926ACC6555B9965,classic_bike,2023-03-18 21:13:04,2023-03-18 21:17:38,E 33 St & 1 Ave,6197.08,E 30 St & Park Ave S,6206.08,40.743227,-73.974498,40.744449,-73.983035,member
169079,F8809A6E8A57718A,classic_bike,2023-02-20 16:25:20,2023-02-20 16:31:40,E 51 St & Lexington Ave,6659.01,Lexington Ave & E 36 St,6313.10,40.757148,-73.972078,40.747574,-73.978801,member
511037,2DC425CB3F9E445E,classic_bike,2023-01-03 18:47:08,2023-01-03 18:53:17,Willoughby St & Fleet St,4628.05,Clinton Ave & Myrtle Ave,4651.02,40.691966,-73.981302,40.693261,-73.968896,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
692226,AAAC56B23DD64ED7,classic_bike,2023-01-21 12:31:44,2023-01-21 12:41:03,Cleveland Pl & Spring St,5492.05,University Pl & E 14 St,5905.14,40.722104,-73.997249,40.734814,-73.992085,member
154974,8E790CB319DC8C85,classic_bike,2023-05-24 20:03:24,2023-05-24 20:15:58,E 16 St & 5 Ave,6022.04,Barrow St & Hudson St,5805.05,40.737262,-73.992390,40.731724,-74.006744,member
256902,CE78D34D9F967C1C,classic_bike,2023-06-12 03:53:50,2023-06-12 04:05:34,St. Ann's Av & Bruckner Blvd,7657.03,St. Nicholas Ave & W 126 St,7756.10,40.803354,-73.920035,40.811432,-73.951878,casual
122866,356F718DD3E47AEB,classic_bike,2023-05-24 15:16:08,2023-05-24 15:22:43,W 16 St & The High Line,6233.05,W 26 St & 10 Ave,6382.05,40.743349,-74.006818,40.749718,-74.002950,member
496958,911E64C2C0F9734B,classic_bike,2023-05-31 17:33:57,2023-05-31 17:49:28,Gramercy Park N & Gramercy Park E,6013.12,W Broadway & W Houston St,5644.05,40.737965,-73.985107,40.726378,-74.000472,casual

In [8]:
sample_df.to_csv(OUTPUT_PATH)

In [9]:
#checking